* {
    box-sizing: border-box;
  }
  
  *, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
  }
  
  html, body {
    width: 100%;
    height: 100%;
  }
  
  body {
    background: #dddddd;
    color: rgb(0, 0, 0);
    font-size: 18px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6;
  }
  
  /* Image gallery stlyling */
  .container {
    max-width: 1200px;
    margin: 80px auto 0;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
  }
  
  .container__img-holder {
    max-width: 280px;
    display: inline-block;
    vertical-align: top;
    margin-bottom: 20px;
    margin-left: 8x;
    cursor: pointer;
    border-color: #808080;
    border-width: 8px;
    border-style: ridge;
    position: relative;
  }
  .container__img-holder p {
    position: absolute;
    z-index: -1; /* This sets the z-index to a lower value than the image, so that it appears behind the image */
    bottom: 10; /* This positions the element at the bottom of the container */
    left: 0;
    width: 100%; /* This makes the element span the full width of the container */
    color: rgb(0, 0, 0);
    padding: 5px;
    text-align: center; /* This centers the text */
  }

  
  .container .container__img-holder:nth-child(4n+1) {
    margin-left: 0px;
  }
  
  .container__img-holder img {
    width: 100%;
    height: 220px;
    display: block;
  }
  
  /* Popup Styling */
  
  .img-popup {
    position: fixed;
    padding: 0%;
    margin: 0%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(255, 255, 255, .5);
    display: flex;
    
    justify-content: center;
    align-items: center;
    display: none;
    z-index: 2;
    
  }
  

  
  .img-popup img {
    
    
    max-height: 90%;
    border: 2px solid rgb(34, 34, 34);
    border-right: 1px solid rgb(34, 34, 34);
    opacity: 0;
    transform: translateY(-100px);
    -webkit-transform: translateY(-100px);
    -moz-transform: translateY(-100px);
    -ms-transform: translateY(-100px);
    -o-transform: translateY(-100px);
    padding: 0%;
    margin: 0%;

  }
  .img-popup .text {
    /* set the width and height of the text container */
    width: 30%;
    max-height: 90%;
  
    /* set the font size, family, and color of the text */
    font-size: 16px;
    font-family: Arial, sans-serif;
    color: rgb(0, 0, 0);
  
    /* set the line height and text alignment of the text */
    line-height: 1.5;
    text-align: justify;
    
  
    /* set the padding and margin of the text container */
    padding-left: 20px;
    padding-right: 20px;
  
    /* set the border of the text container */
    border: 2px solid rgb(34, 34, 34);
    border-left: 1px solid rgb(34, 34, 34);
    background-color: #999999;
    overflow-y: scroll;
  }
  
  .close-btn {
    width: 35px;
    height: 30px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
  }
  
  .close-btn .bar {
    height: 4px;
    background: #333;
  }
  
  .close-btn .bar:nth-child(1) {
    transform: rotate(45deg);
  }
  
  .close-btn .bar:nth-child(2) {
    transform: translateY(-4px) rotate(-45deg);
  }
  
  .opened {
    display: flex;
  }
  .opened img {
    animation: animatepopup 1s ease-in-out .8s;
    -webkit-animation: animatepopup .3s ease-in-out forwards;
  }
  button {
    background-color: black;
    color: #808080;
    border: none;
    padding: 10px 20px;
    font-size: 14px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #808080;
    color: black;
  }
  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  .prev {
    left: 0;
  }
  
  .next {
    right: 0;
  }
  
  .prev:hover, .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
      
  
       /* Fading animation */
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
    @-webkit-keyframes fade {
      from {opacity: .4}
      to {opacity: 1}
    }
    
    @keyframes fade {
      from {opacity: .4}
      to {opacity: 1}
    }
  
  @keyframes animatepopup {
  
    to {
      opacity: 1;
      transform: translateY(0);
      -webkit-transform: translateY(0);
      -moz-transform: translateY(0);
      -ms-transform: translateY(0);
      -o-transform: translateY(0);
    }
  
  }
  
  @media screen and (max-width: 880px) {
  
    .container .container__img-holder:nth-child(4n+1) {
      margin-left: 16px;
    }
  
  }

  /* Add a black background color to the top navigation */
.topnav {
  background-color: #333;
  overflow: hidden;
  border-bottom: 1px solid #808080;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;

  
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add an active class to highlight the current page */
.topnav a.active {
  background-color: #40555a;
  color: white;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
  display: none;
}
/* social icons on the right */
.topnav a.social-icon {
  float: right;
}
/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
    display: none;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
    
  }
}
.hidden {
  transform: translateY(-100%);
  transition: transform 0.3s ease-out;
  
}
 
@media screen and (max-width: 375px) {
  .img-popup {
    max-width: 80%; /* Set the maximum width to 80% of the viewport width */
  }
}

/* Limit the size of the images within the popup container for iPhone screens */
@media screen and (max-width: 375px) {
  .img-popup img {
     /* Set the maximum width to 100% of the container width */
    max-height: 90%; /* Set the maximum height to 90% of the container height */
  }
}

/* Use object-fit: cover to resize the images to fill the container while preserving the aspect ratio for iPhone screens */
@media screen and (max-width: 375px) {
  .img-popup img {
    object-fit: cover;
  }
}

/* Add a border around the images for iPhone screens */
@media screen and (max-width: 375px) {
  .img-popup img {
    border: 1px solid #cccccc;
  }
}

/* Add a shadow around the images for iPhone screens */
@media screen and (max-width: 375px) {
  .img-popup img {
    box-shadow: 0 0 10px #cccccc;
  }
}
/* Use the flex layout to arrange the image containers in a vertical list */
/* On small screens, stack the image containers vertically */
@media screen and (max-width: 600px) {
  .container {
    display: flex;
    flex-direction: column;
    max-width: 300px;
  }
  .container__img-holder {
    width: 280px;
  }
}

  